.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    flex-direction: column;
}

.titulo {
    font-weight: 700;
    font-size: 3vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    width: 30vw;
    height: 98vh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.campo {
    display: flex;
    align-items: center;
    padding: 1vh;
    font-size: 1.8vh;
    border: none;
    border-bottom: black 0.3vh solid;
    font-family: "Inter", sans-serif;
    outline: 0;
}

.botao {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 1.3vh;
    font-family: "Inter", sans-serif;
    font-size: 1.8vh;
    width: 11vw;
    cursor: pointer;
    transition: .5s;
}

.botao:hover {
    background-color: #0AB58A;
    color: white;
}